/* left align all text */
* {
  text-align: left;
}

/* If class EQUALS highlight then background color yellow */
body[class="highlight"] {
  background-color: 2EC987;
}

/* Title is hidden */
h1 {
  color: #dac529;
  font-size: 10px;
  display: none;
}

h2 {
  color: #2558b1;
  font-size: 35px;
  font-family: 'Overpass', sans-serif;
  font-weight: bold;
}

h2[class="darklight"] {
  color: #2B4674;
  font-size: 30px;
  padding: 5px 5px 5px 10px; /* top right bottom left */
  background-color: rgb(0, 0, 0);
}

/* For Section Titles (e.g. "Data Structures") */
h2.section_title {
  /* basically h2 with slight underline */
  color: #2558b1;
  font-size: 35px;
  font-family: 'Overpass', sans-serif;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: rgb(28, 33, 52);
}

/* Font per Section (e.g. "Binry Search Tree") */
h3 {
  color: #000000;
  font-size: 18px;
}

/* Font per Section (e.g. "Binry Search Tree") */
h3[class="highlight"] {
  font-family: 'Overpass';
  font-weight: semi-bold;
  color:rgb(216, 216, 216);
  background-color: #063731;
  padding: 5px 5px 3px 10px; /* top right bottom left */
  margin-left: 1px;   /* space btw edge of page and section */
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* General text (e.g. describe programming langauges ) */
h4 {
  font-family: ibm plex sans;
  font-weight: normal;
  color: rgb(179, 179, 179);
  font-size: 17px;
}

/* Small heading to label examples (e.g. "To Run..Basic Example...") */
h5, h6 {
  font-family: 'Overpass';
  color: rgb(211, 211, 211);
  font-size: 15px;
  margin: 1px 1px 10px 1px; /* top right bottom left */
}

h5 {
  font-size: 15px;
}

h6 {
  color: rgb(179, 179, 179);
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 20px;
}

summary {
  font-family: 'Overpass';
  color: rgb(179, 179, 179);
  font-size: 15px;
  margin: 1px 1px 10px 1px; /* top right bottom left */
}

main { 
  font-size: 10px; 
  padding: 10px
}


section {
  padding: 10px;
  font-size: 14px;
}

section[class="dark"] {
  background-color: hsla(0,100%,0%,0.3);    /* sets opacity of black color */
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 0px;
  color: rgb(180, 179, 179);
}

code {
  font-family: menlo;
  color: rgb(203, 203, 203);
  background-color: hsla(0,100%,0%,0.3);    /* sets opacity of black color */
  margin: auto;
  font-size: 100%;
  padding: 5px;
}

/* If class ENDS with run, set it up like snippet of code (no color) */
code[class$="run"] {
  font-family: menlo;
  color: rgb(203, 203, 203);
  background-color: hsla(0,100%,0%,0.3);    /* sets opacity of black color */
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 5px;
  margin: 3px 1px 1px 3px;    /* top right bottom left */
}

/* used for types (e.g. int), commands (e.g. return, include) */
code[class="bright"] {
  font-family: menlo;
  color: rgb(233, 10, 69);
}

/* used for numbers, paramters, strings, etc. */
code[class="dark"] {
  font-family: menlo;
  color: rgb(48, 88, 216);
}

/* used for function names (e.g. main), parameter names, etc. */
code[class="body"] {
  font-family: menlo;
  color: rgb(52, 176, 153);
}


/* Style for h5 text DIRECTLY AFTER h4 */
h4 + h5 {
  color:rgb(225, 225, 225);
  background-color: hsla(0,100%,100%,0.01);
}

/* Style for li (list element) UNDER ol (ordered list) e.g. descriptions of langs grey-white */
ol li {
  /* same style as h4 */
  font-weight: normal;
  color: rgb(193, 193, 193);
}


/* Style for code CHILD of details */
details > code {
  /* same as to run style code */
  font-family: menlo;
  color: rgb(203, 203, 203);
  background-color: hsla(0,100%,0%,0.3);    /* sets opacity of black color */
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 5px;
  margin: 3px 1px 1px 3px;    /* top right bottom left */
  display: inline;
}

/* Style for every src code element PRECEDED by code (e.g. "To Run" --> label file names) */
code ~ code[class="src"] {
  color: aquamarine;
}

button {
  font-family: ibm plex sans;
  color: #ffffff;
  background-color: #2B4674;
  padding: 10px;
  border: 0px solid;    /* no border bc it's ugly on dark */
}

button:hover {
  font-family: ibm plex sans;
  font-weight: bold;
  color: #ffffff;
  background-color: #2B4674;
  padding: 10px;
  border: 0px solid;    /* no border bc it's ugly on dark */
}

/* Table of Contents */
nav {
  text-align: left;
  font-size: 14px;
  color: white;
  background-color: #2B3841;
  border: medium none;
  border-radius: 0;
  color: white;
  list-style: outside none none;
  margin: 5;
  padding: 15px 5px 15px 5px;
  /* floats at the top right of page */
  position: fixed;    
  top: 0;
  right: 0;
  display: inline;
}


/* if class CONTAINS contents then make it white-ish for table of contents */
a[class~="contents"] {
  color: #c7c7c7;
  text-decoration: none;
  margin: 5;
  padding-left: 10px;
  padding-right: 10px;
}

/* Hover over Table of Contents */
a:hover[class~="contents"] {
  color: white;
  font-weight: bold;
}

/* Clicked element of Table of Contents */
a:active[class~="contents"] {
  color: #30C886;
  font-weight: bold;
}

/* style of table */
table {
  font-family: ibm plex sans;
  border-collapse: collapse;
  position: static;
  width: 100px;
  height: 20px;
}

caption {
  margin: 0px 0px 3px 0px; /* top right bottom left */
  /* BOTTOM */
}

/* table header */
th {
  border-style: solid;
  border-color: #0B0E11;
  border-width: 3px;
  border-radius: 2px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
  
/* table body */
td {
  color:rgb(48, 48, 48);
  border-style: solid;
  border-color: #0B0E11;
  border-width: 2px;
  border-radius: 20px;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
}

/* Adds a border, centers image in a figure */
figure > img {
  width: 70%;
  border: 5px solid rgb(0, 0, 0);
  padding: 15px;
  margin: 5px 1px 1px 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Text beneath figure */
figcaption {
  font-family: 'Overpass';
  color: rgb(196, 196, 196);
  font-size: 15px;
  padding-bottom: 30px;
  display: block;
  text-align: center;
  margin-top: 10px;
}

.grid-container {
  width:fit-content;
  display: grid;
  grid-template-columns: repeat(3, 200px [col-start]);
  grid-gap: 20px;      /* center dividing lines */
  background-color: #101419;;
  padding: 5px;       /* border/outer lines */
  justify-content: space-around;
}

.grid-container > div {
  background-color: hsla(0,100%,0%,0.3);    /* sets opacity of black color */
  text-align: center;
  padding: 15px;
  font-size: 15px;
  color:rgb(196, 196, 196)
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: red;
  }
}

aside {
  background-color: hsla(0,100%,0%,0.3);    /* sets opacity of black color */
  padding: 10px 20px 10px 20px;
  color: rgb(120, 120, 120);
}

/* If class BEGINS with https, color link blue */
a[href^="https"] {
  color:aquamarine;
}

/* header positioned reltive + slightly up */
header {
  position: relative;
  bottom: 30px;
}

/* footer will stick to top if scrolled over */
footer {
  position: -webkit-sticky;
  position: sticky;   /* once scrolled over, will stay at top of screen */
}






